:root {
  /* Light theme: the default */
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #0055bb;
  --color-visited-link: #8440f1;

  --body-background: #f0f0f0;
  --alternate-background: #e0e0e0;
  --body-font-color: black;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

body {
  min-height: 100vh;
  padding-bottom: 40px;
  position: relative;
}

.footer {
  background-color: var(--alternate-background);
  position: fixed;
  bottom: 0;
  width: 100%;
  color: var(--body-font-color);
  font-size: 0.8rem;
}


.footer>div {
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer button {
  background-color: transparent;
  border: none;
  color: var(--color-link);
  cursor: pointer;
  outline: none;
  position: relative;
  top: 2px;
}

.book-tabs label {
  outline: none;
}


html[data-theme="dark"] {
  --gray-100: #494e54;
  --gray-200: #5c6165;
  --gray-500: #999d9f;

  --color-link: #84b2ff;
  --color-visited-link: #b88dff;

  --body-background: #242a30;
  --alternate-background: #1c1f23;
  --body-font-color: #e9ecef;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

html[data-theme="dark"] #theme-toggle-light {
  display: block;
}

html[data-theme="dark"] #theme-toggle-dark {
  display: none;
}

html[data-theme="light"] #theme-toggle-light,
html:not([data-theme="dark"]) #theme-toggle-light {
  display: none;
}

html[data-theme="light"] #theme-toggle-dark,
html:not([data-theme="dark"]) #theme-toggle-dark {
  display: block;
}



article a[href]:not(:where(

    /* exclude hash only links */
    [href^="#"],
    /* exclude javascript only links */
    [href^="javascript:" i],
    /* exclude relative but not double slash only links */
    [href^="/"]:not([href^="//"]),
    /* TODO: enter domain */
    [href*="//git-dok.com"],
  ))::before {
  content: "→\00a0";
}

article p a {
  color: var(--body-font-color) !important;
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
  text-decoration-color: var(--hint-color-info) !important;
  text-decoration-skip: ink !important;
  text-underline-offset: 0.25em !important;
}

article p a:hover {
  text-decoration: underline solid !important;
  text-decoration-style: solid !important;
  text-decoration-color: var(--hint-color-info) !important;
  text-decoration-skip: ink !important;
  text-underline-offset: 0.2em !important;
}

article p {
  hyphens: auto;
}

@import "./remixicon";
